html{
    background-color: darkolivegreen;
}

header{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: goldenrod;
}

h1{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #ffe08a;
}



a{
    color: black;
}

.search{
    color: black;
    display: flex;
    justify-content: center;
}

#results{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    margin: 30px; 
}

div.results__item {
    font-size: 12px;
    margin: 10px;
    padding: 5px 10px 10px 20px;
    background-color: goldenrod;
    
}

div.results__item:hover {
    background-color: #ffe08a;
}

.content h2 {
    text-align: center;
    font-size: 15px;
    margin: 15px auto;
    font-weight: normal;
}

 /* Modal Content */
 .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

 .modal-content1 {
    background-color: goldenrod;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  .modal-header {
    background-color: darkolivegreen;
    text-align: center;
    padding: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  /* dog styling */
.dog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

.dogMessage {
    color: #ffe08a;
    margin: 20px;
}

img {
    height: 300px;
    width: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.footer {
    background: goldenrod;
    height: 50px;
}

@media screen and (max-width: 1000px) {
    #results {
        grid-template-columns: 250px 250px 250px;
    }
}

@media screen and (max-width: 750px) {
    #results {
        grid-template-columns: 250px 250px;
    }
}

@media screen and (max-width: 500px) {
    
    .search {
        flex-direction: column;
    }
    
    .buttons {
        justify-content: center;
        margin-top: 10px;
    }
    
    #results {
        grid-template-columns: 250px;
    }
}
