*{
    background-color: darkolivegreen;
}
header{
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: goldenrod;
    height: 50px;
}
h1{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    font-size: large;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    background-color: darkolivegreen;
    padding: 20px;
}
a{
    color: black;
}

.search{
    color: black;
    display: flex;
    justify-content: center;
  

}
#input{
    color: coral;
    background-color: white;
    font-size: larger;
}
#search{
    background-color: white;
    font-size: larger;
}
#results{
    display: flex;
    flex-direction: column;
    
    
}